:root {
	/** sunny side **/
	--blue-background: #96dcee;
	--blue-border: linear-gradient(180deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--blue-color: #63a5eb;
	--yellow-background: #f6d329;
	--yellow-border: linear-gradient(180deg, rgba(252,252,108,1) 0%, rgba(241,154,1,1) 100%); 
	/** dark side **/
	--indigo-background: #384152;
	--indigo-border: linear-gradient(180deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--indigo-color: #1c202c;
	--gray-border: linear-gradient(0deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--gray-dots: #e8e8ea;
	/** general **/
	--white: #fff;
}

@keyframes reverse {
	0% {
		left: 150px;
		width: 82px;
	}
	60% {
		left: 72px;
		width: 112px;
	}
	100% {
		left: 4px;
	}
}

@keyframes switch {
	0% {
		left: 4px;
	}
	60% {
		left: 4px;
		width: 112px;
	}
	100% {
		left: 150px;
		width: 82px;
	}
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	position: relative;
	padding: 0;
	margin: 0;
}

/* we hide the square checkbox */
.toggle--checkbox {
	display: none;
}

/* styles for the label */
.button-background {
	width: 255px;
	height: 105px;
	background: var(--blue-border);
	border-radius: 100px;
	display: flex;
	position: relative;
	transition: all 350ms ease-in;
	overflow: hidden;
	&:before {
		content: "";
		transition: all 250ms ease-in;
		width: 250px;
		height: 100px;
		position: absolute;
		left: 2.5px;
		top: 2.5px;
		background: var(--blue-color);
		border-radius: 100px;
	}
    /* styles for the sun */
	.button-circle {
		animation-name: reverse;
		animation-duration: 350ms;
		animation-fill-mode: forwards;
		transition: all 350ms ease-in;
		width: 86px;
		height: 86px;
		margin-left: 2%;
		position: absolute;
		top: 10%;
		border-radius: 50%;
		background: var(--yellow-border);
        z-index: 2;
		&:before{
			content: "";
			transition: all 250ms ease-in;
			width: 82px;
			height: 82px;
			position: absolute;
			left: 2px;
			top: 2px;
			border-radius: 50%;
			background: var(--yellow-background);
		}
	}
	.button-circle-radius{
		content: "";
		transition: all 250ms ease-in;
		width: 120px;
		height: 120px;
		top: -10%;
		position: absolute;
		border-radius: 50%;
		background: var(--white);
		opacity: 0.2;
		z-index: 1;
		&:before{
			content: "";
			transition: all 250ms ease-in;
			width: 120px;
			height: 120px;
			left: 20%;
			position: absolute;
			border-radius: 50%;
			background: var(--white);
			opacity: 0.5;
		}
		&:after{
			content: "";
			transition: all 250ms ease-in;
			width: 120px;
			height: 120px;
			left: 40%;
			position: absolute;
			border-radius: 50%;
			background: var(--white);
			opacity: 0.5;
		}
	}
	.ornament-container{
		width: 250px;
		height: 100px;
		border-radius: 100px;
		display: flex;
		position: absolute;
		left: 2.5px;
		top: 2.5px;
		transition: all 350ms ease-in;
		overflow: hidden;
		.button-ornaments {
			/* clouds 1 */
			width: 240px;
			height: 20px;
			position: relative;
			top: 86px;
			background: var(--white);
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -60px;
				width: 30px;
				height: 70px;
				border-radius: 50px;
				background: var(--white);
				left: -2%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -230%;
				width: 70px;
				height: 50px;
				border-radius: 90px 90px 0 0;
				background: var(--white);
				left: 3%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments2 {
			/* clouds 2 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -60%;
				width: 20px;
				height: 10px;
				border-radius: 90px 90px 0 0;
				background: var(--white);
				left: 31%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -16px;
				width: 36px;
				height: 40px;
				border-radius: 50px;
				background: var(--white);
				left: 36%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments3 {
			/* clouds 3 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -8px;
				width: 20px;
				height: 10px;
				border-radius: 90px 90px 0 0;
				background: var(--white);
				left: 48%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -30px;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				background: var(--white);
				left: 54%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments4 {
			/* clouds 4 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -130%;
				width: 20px;
				height: 30px;
				border-radius: 90px 90px 0 0;
				background: var(--white);
				left: 70%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -210%;
				width: 36px;
				height: 52px;
				border-radius: 50px;
				background: var(--white);
				left: 75%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments5 {
			/* clouds 5 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -190%;
				width: 20px;
				height: 40px;
				border-radius: 90px 90px 0 0;
				background: var(--white);
				left: 87%;
				transition: all 150ms ease-in;
				transform: rotate(-15deg);
			}
			&:after {
				content: "";
				position: absolute;
				top: -350%;
				width: 50px;
				height: 71px;
				border-radius: 50px;
				background: var(--white);
				left: 90%;
				transition: all 150ms ease-in;
				transform: rotate(-10deg);
			}
		}
	}
	
    /* styles for the moon */
	&:after {
		transition-delay: 0ms;
		transition: all 250ms ease-in;
		position: absolute;
		content: "";
		box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
		left: 200px;
		top: 23px;
		width: 10px;
		height: 10px;
		background: transparent;
		border-radius: 50%;
		opacity: 0;
	}
}

/* styles for night */
.toggle--checkbox {
	&:checked + element {
		/* Element can be after our checkbox */
	}
	&:checked ~ .screen-background {
		background: var(--indigo-background);
	}
	&:checked + .button-background {
		width: 255px;
		background: var(--indigo-border);
		&:before {
			content: "";
			transition: all 250ms ease-in;
			width: 250px;
			height: 100px;
			position: absolute;
			left: 2.5px;
			top: 2.5px;
			background: var(--indigo-color);
			border-radius: 100px;
		}
		.button-circle {
			animation-name: switch;
			animation-duration: 350ms;
			animation-fill-mode: forwards;
			background: var(--gray-border);
			margin-left: 4%;
			&:before{
				content: "";
				transition: all 250ms ease-in;
				background: var(--white);
			}
		}
		.button-circle-radius{
			left: 52%;
			&:before{
				left: -20%;
			}
			&:after{
				left: -40%;
			}
		}
		.button-ornaments {
            /* stars */
			left: 60px;
			width: 5px;
			&:before {
				width: 5px;
				height: 5px;
				top: -25px;
			}
			&:after {
				width: 5px;
				height: 5px;
				left: -30px;
				top: 20px;
			}
		}
		&:after {
			transition-delay: 350ms;
			opacity: 1;
            z-index: 2;
		}
	}
}

/* styles for day */
.screen-background {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--blue-background);
	z-index: -2;
	width: 100%;
	height: 100%;
	transition: all 250ms ease-in;
}
