:root {
	/** sunny side **/
	--blue-background: #96dcee;
	--blue-border: linear-gradient(180deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--blue-color: #63a5eb;
	--cloud-blue: #aed5fa;
	--yellow-background: #f6d329;
	--yellow-border: linear-gradient(180deg, rgba(252,252,108,1) 0%, rgba(241,154,1,1) 100%); 
	/** dark side **/
	--indigo-background: #384152;
	--indigo-border: linear-gradient(180deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--indigo-color: #1c202c;
	--gray-border: linear-gradient(0deg, rgba(135,172,211,1) 0%, rgba(178,201,227,1) 50%, rgba(226,234,243,1) 100%);
	--gray-dots: #e8e8ea;
	--gray-moon-background: #d3d9e2;
	/** general **/
	--white: #fff;
	--light-blue: #d6ecfc;
	--shadow: rgba(0, 0, 0, 0.4);
}

@keyframes reverse {
	0% {
		left: 150px;
		width: 82px;
	}
	60% {
		left: 72px;
		width: 112px;
	}
	100% {
		left: 4px;
	}
}

@keyframes switch {
	0% {
		left: 4px;
	}
	60% {
		left: 4px;
		width: 112px;
	}
	100% {
		left: 150px;
		width: 82px;
	}
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	position: relative;
	padding: 0;
	margin: 0;
}

/* we hide the square checkbox */
.toggle--checkbox {
	display: none;
}

.button-shadow{
	width: 250px;
	height: 100px;
	border-radius: 100px;
	position: absolute;
	left: 2.5px;
	top: 2.5px;
	box-shadow: inset -5px 5px 10px var(--shadow),
				inset 5px 5px 10px var(--shadow);
	z-index: 2;
}

/* styles for the label */
.button-background {
	width: 255px;
	height: 105px;
	background: var(--blue-border);
	border-radius: 100px;
	display: flex;
	position: relative;
	transition: all 350ms ease-in;
	overflow: hidden;

	&:before {
		content: "";
		transition: all 250ms ease-in;
		width: 250px;
		height: 100px;
		position: absolute;
		left: 2.5px;
		top: 2.5px;
		background: var(--blue-color);
		border-radius: 100px;
	}
    /* styles for the sun */
	.button-circle {
		animation-name: reverse;
		animation-duration: 350ms;
		animation-fill-mode: forwards;
		transition: all 350ms ease-in;
		width: 86px;
		height: 86px;
		margin-left: 2%;
		position: absolute;
		top: 10%;
		border-radius: 50%;
		background: var(--yellow-border);
        z-index: 2;
		box-shadow: -1px 10px 10px var(--shadow);
		&:before{
			content: "";
			transition: all 250ms ease-in;
			width: 82px;
			height: 82px;
			position: absolute;
			left: 2px;
			top: 2px;
			border-radius: 50%;
			background: var(--yellow-background);
		}
	}
	.button-circle-radius{
		content: "";
		transition: all 250ms ease-in;
		width: 120px;
		height: 120px;
		top: -10%;
		position: absolute;
		border-radius: 50%;
		background: var(--light-blue);
		opacity: 0.2;
		z-index: 1;
		&:before{
			content: "";
			transition: all 250ms ease-in;
			width: 120px;
			height: 120px;
			left: 20%;
			position: absolute;
			border-radius: 50%;
			background: var(--light-blue);
			opacity: 0.5;
		}
		&:after{
			content: "";
			transition: all 250ms ease-in;
			width: 120px;
			height: 120px;
			left: 40%;
			position: absolute;
			border-radius: 50%;
			background: var(--light-blue);
			opacity: 0.5;
		}
	}
	.ornament-container{
		width: 250px;
		height: 100px;
		border-radius: 100px;
		display: flex;
		position: absolute;
		left: 2.5px;
		top: 2.5px;
		transition: all 350ms ease-in;
		overflow: hidden;
		
		.button-ornaments {
			/* clouds 1 */
			width: 240px;
			height: 20px;
			position: relative;
			top: 86px;
			background: var(--light-blue);
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -60px;
				width: 30px;
				height: 70px;
				border-radius: 50px;
				background: var(--light-blue);
				left: -2%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -230%;
				width: 70px;
				height: 50px;
				border-radius: 90px 90px 0 0;
				background: var(--light-blue);
				left: 3%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments2 {
			/* clouds 2 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -60%;
				width: 20px;
				height: 10px;
				border-radius: 90px 90px 0 0;
				background: var(--light-blue);
				left: 31%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -16px;
				width: 36px;
				height: 40px;
				border-radius: 50px;
				background: var(--light-blue);
				left: 36%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments3 {
			/* clouds 3 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -8px;
				width: 20px;
				height: 10px;
				border-radius: 90px 90px 0 0;
				background: var(--light-blue);
				left: 48%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -30px;
				width: 50px;
				height: 50px;
				border-radius: 50px;
				background: var(--light-blue);
				left: 54%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments4 {
			/* clouds 4 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -130%;
				width: 20px;
				height: 30px;
				border-radius: 90px 90px 0 0;
				background: var(--light-blue);
				left: 70%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -210%;
				width: 36px;
				height: 52px;
				border-radius: 50px;
				background: var(--light-blue);
				left: 75%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments5 {
			/* clouds 5 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -190%;
				width: 20px;
				height: 40px;
				border-radius: 90px 90px 0 0;
				background: var(--light-blue);
				left: 87%;
				transition: all 150ms ease-in;
				transform: rotate(-15deg);
			}
			&:after {
				content: "";
				position: absolute;
				top: -350%;
				width: 50px;
				height: 71px;
				border-radius: 50px;
				background: var(--light-blue);
				left: 90%;
				transition: all 150ms ease-in;
				transform: rotate(-10deg);
			}
		}
	}

	.ornament-shadow-container{
		width: 250px;
		height: 100px;
		border-radius: 100px;
		display: flex;
		position: absolute;
		left: 2.5px;
		top: 2.5px;
		transition: all 350ms ease-in;
		overflow: hidden;
		.button-ornaments {
			/* clouds 1 */
			width: 240px;
			height: 20px;
			position: relative;
			top: 86px;
			background: var(--cloud-blue);
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -70px;
				width: 30px;
				height: 70px;
				border-radius: 50px;
				background: var(--cloud-blue);
				left: 1%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -280%;
				width: 70px;
				height: 51px;
				border-radius: 90px 90px 0 0;
				background: var(--cloud-blue);
				left: 3.5%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments2 {
			/* clouds 2 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -180%;
				width: 50px;
				height: 50px;
				border-radius: 90px 90px 0 0;
				background: var(--cloud-blue);
				left: 22%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -40px;
				width: 60px;
				height: 60px;
				border-radius: 50px;
				background: var(--cloud-blue);
				left: 34%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments3 {
			/* clouds 4 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -180%;
				width: 30px;
				height: 30px;
				border-radius: 90px 90px 0 0;
				background: var(--cloud-blue);
				left: 56%;
				transition: all 150ms ease-in;
			}
			&:after {
				content: "";
				position: absolute;
				top: -300%;
				width: 50px;
				height: 52px;
				border-radius: 50px;
				background: var(--cloud-blue);
				left: 64%;
				transition: all 150ms ease-in;
			}
		}
		.button-ornaments4 {
			/* clouds 5 */
			width: 240px;
			height: 20px;
			position: absolute;
			top: 90%;
			transition: all 150ms ease-in;
			&:before {
				content: "";
				position: absolute;
				top: -310%;
				width: 30px;
				height: 40px;
				border-radius: 90px 90px 0 0;
				background: var(--cloud-blue);
				left: 80%;
				transition: all 150ms ease-in;
				transform: rotate(-15deg);
			}
			&:after {
				content: "";
				position: absolute;
				top: -460%;
				width: 50px;
				height: 71px;
				border-radius: 50px;
				background: var(--cloud-blue);
				left: 87%;
				transition: all 150ms ease-in;
				transform: rotate(-10deg);
			}
		}
	}
	
    /* styles for the moon */
	&:after {
		transition-delay: 0ms;
		transition: all 250ms ease-in;
		position: absolute;
		content: "";
		box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
		left: 200px;
		top: 23px;
		width: 10px;
		height: 10px;
		background: transparent;
		border-radius: 50%;
		opacity: 0;
	}
}

/* styles for night */
.toggle--checkbox {
	&:checked + element {
		/* Element can be after our checkbox */
	}
	&:checked ~ .screen-background {
		background: var(--indigo-background);
	}
	&:checked + .button-background {
		width: 255px;
		background: var(--indigo-border);
		&:before {
			content: "";
			transition: all 250ms ease-in;
			width: 250px;
			height: 100px;
			position: absolute;
			left: 2.5px;
			top: 2.5px;
			background: var(--indigo-color);
			border-radius: 100px;
		}
		.button-circle {
			animation-name: switch;
			animation-duration: 350ms;
			animation-fill-mode: forwards;
			background: var(--gray-border);
			margin-left: 4%;
			&:before{
				content: "";
				transition: all 250ms ease-in;
				background: var(--gray-moon-background);
			}
		}
		.button-circle-radius{
			left: 52%;
			&:before{
				left: -20%;
			}
			&:after{
				left: -40%;
			}
		}
		.button-ornaments {
            /* stars */
			left: 60px;
			width: 5px;
			background: transparent;
			&:before {
				width: 3px;
				height: 3px;
				top: -38px;
				left: -42px;
				border-radius: 50%;
				background: var(--white);

			}
			&:after {
				width: 10px;
				height: 10px;
				top: -70px;
				left: -10px;
				background: transparent;
				background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="600" height="600" viewBox="0 0 600 600" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M300 1.52588e-05L367.857 172.051C374.12 187.933 377.25 195.874 382.047 202.57C386.297 208.505 391.493 213.702 397.43 217.953C404.127 222.748 412.067 225.88 427.95 232.144L600 300L427.95 367.857C412.067 374.12 404.127 377.25 397.43 382.047C391.493 386.297 386.297 391.493 382.047 397.43C377.25 404.127 374.12 412.067 367.857 427.95L300 600L232.144 427.95C225.88 412.067 222.748 404.127 217.953 397.43C213.702 391.493 208.505 386.297 202.57 382.047C195.874 377.25 187.933 374.12 172.051 367.857L0 300L172.051 232.144C187.933 225.88 195.874 222.748 202.57 217.953C208.505 213.702 213.702 208.505 217.953 202.57C222.748 195.874 225.88 187.933 232.144 172.051L300 1.52588e-05Z" fill="white"/></svg>');
				background-size: cover;
				transform: none;

			}
		}
		.button-ornaments2 {
            /* stars */
			left: 60px;
			width: 5px;
			&:before {
				width: 3px;
				height: 3px;
				top: -10px;
				left: -10.5px;
				border-radius: 50%;
				background: var(--white);

			}
			&:after {
				width: 3px;
				height: 3px;
				top: -42px;
				left: 8px;
				border-radius: 50%;
				background: var(--white);

			}
		}
		.button-ornaments3 {
            /* stars */
			left: 60px;
			width: 5px;
			&:before {
				width: 3px;
				height: 3px;
				top: -70px;
				left: 36px;
				border-radius: 50%;
				background: var(--white);

			}
			&:after {
				width: 3px;
				height: 3px;
				top: -30px;
				left: 36px;
				border-radius: 50%;
				background: var(--white);

			}
		}
		.button-ornaments4 {
            /* stars */
			left: 60px;
			width: 5px;
			&:before {
				width: 3px;
				height: 3px;
				top: -56px;
				left: 60px;
				border-radius: 50%;
				background: var(--white);

			}
			&:after {
				width: 10px;
				height: 10px;
				top: -70px;
				left: 86px;
				background: transparent;
				background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="600" height="600" viewBox="0 0 600 600" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M300 1.52588e-05L367.857 172.051C374.12 187.933 377.25 195.874 382.047 202.57C386.297 208.505 391.493 213.702 397.43 217.953C404.127 222.748 412.067 225.88 427.95 232.144L600 300L427.95 367.857C412.067 374.12 404.127 377.25 397.43 382.047C391.493 386.297 386.297 391.493 382.047 397.43C377.25 404.127 374.12 412.067 367.857 427.95L300 600L232.144 427.95C225.88 412.067 222.748 404.127 217.953 397.43C213.702 391.493 208.505 386.297 202.57 382.047C195.874 377.25 187.933 374.12 172.051 367.857L0 300L172.051 232.144C187.933 225.88 195.874 222.748 202.57 217.953C208.505 213.702 213.702 208.505 217.953 202.57C222.748 195.874 225.88 187.933 232.144 172.051L300 1.52588e-05Z" fill="white"/></svg>');
				background-size: cover;
				transform: none;

			}
		}
		.button-ornaments5 {
            /* stars */
			left: 60px;
			width: 5px;
			&:before {
				width: 3px;
				height: 3px;
				top: -40px;
				left: 80px;
				border-radius: 50%;
				background: var(--white);

			}
			&:after {
				width: 10px;
				height: 10px;
				top: -10px;
				left: 70px;
				background: transparent;
				background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="600" height="600" viewBox="0 0 600 600" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M300 1.52588e-05L367.857 172.051C374.12 187.933 377.25 195.874 382.047 202.57C386.297 208.505 391.493 213.702 397.43 217.953C404.127 222.748 412.067 225.88 427.95 232.144L600 300L427.95 367.857C412.067 374.12 404.127 377.25 397.43 382.047C391.493 386.297 386.297 391.493 382.047 397.43C377.25 404.127 374.12 412.067 367.857 427.95L300 600L232.144 427.95C225.88 412.067 222.748 404.127 217.953 397.43C213.702 391.493 208.505 386.297 202.57 382.047C195.874 377.25 187.933 374.12 172.051 367.857L0 300L172.051 232.144C187.933 225.88 195.874 222.748 202.57 217.953C208.505 213.702 213.702 208.505 217.953 202.57C222.748 195.874 225.88 187.933 232.144 172.051L300 1.52588e-05Z" fill="white"/></svg>');
				background-size: cover;
				transform: none;
			}
		}
		&:after {
			transition-delay: 350ms;
			opacity: 1;
            z-index: 2;
		}
	}
}

/* styles for day */
.screen-background {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--blue-background);
	z-index: -2;
	width: 100%;
	height: 100%;
	transition: all 250ms ease-in;
}
